@import "tailwindcss";

/* =====================
  VARIABLES
===================== */

:root {
  --background-color: #ffffff;
  --primary-text-color: #2a2a2a;
  --secondary-text-color: #ffffff;
  --primary-elements-background-color: #8c3f23;
  --secondaryelements-background-color: #d9b391;
  --interactive-color: #a6592d;

}

/* =====================
  LAYOUT
===================== */

body {
  background: var(--background-color);
  color: var(--primary-text-color);
}

nav {
  background-color: var(--primary-elements-background-color);
}

/* =====================
  BUTTONS
===================== */

.btn {
  padding: 1rem .75rem;
  border-radius: 4px;
  transition: ease all;
  transition-duration: 200ms;
  cursor: pointer;
  border: none;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--interactive-color);
}

/* Primary */

.btn-primary {
  background-color: var(--primary-elements-background-color);
  color: var(--secondary-text-color);
}

.btn-primary:hover {
  background-color: var(--interactive-color);
}
